doctype html
html
    head
    style
        include globall.css


    body
        div.header
            block content
        div.footer
            | Thanks for registration
            hr
            | on our website
            a(href=frontendURL)